<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/templates/css/general.css">
</head>
<body>
    <a href="/">Home</a>
    <div class="room-information">
        <a class="room-embed" href="{{ video }}">embed</a>
    </div>
    <div class="view">
        <iframe class="player" src="{{ video }}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </div>
</body>
</html>